---
import Age from "./Age.astro";
import { ChevronUp } from "lucide-preact"
---

<header
    class="flex flex-col justify-between lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:py-24"
>
    <div>
        <h1
            class="text-5xl font-bold tracking-tight text-slate-200 sm:text-6xl"
        >
            Bence R.
        </h1>
        <h2
            class="mt-2 text-lg font-medium tracking-tight text-slate-200 sm:text-xl"
        >
            An <Age /> year-old developer.
        </h2>
        <p class="mt-3 max-w-xs leading-normal">
            I try to build open-source sites that are easy to use, accessible,
            and fast.
        </p>

        <hr class="my-6 h-[2px] border-0 bg-slate-700 lg:w-4/5" />

        <ul class="flex flex-col gap-1">
            <li class="flex w-3/4">
                <a class="group flex items-center py-3" href="/#About">
                    <span
                        class="mr-4 h-px w-16 bg-slate-600 transition-all group-hover:w-24 group-hover:bg-slate-300"
                    >
                    </span>

                    <span
                        class="text-md font-mono uppercase tracking-wider text-slate-400 transition-all group-hover:text-slate-200"
                    >
                        About
                    </span>
                </a>
            </li>
            <li class="flex w-3/4">
                <a class="group flex items-center py-3" href="/#Projects">
                    <span
                        class="mr-4 h-px w-16 bg-slate-600 transition-all group-hover:w-24 group-hover:bg-slate-300"
                    >
                    </span>

                    <span
                        class="text-md font-mono uppercase tracking-wider text-slate-400 transition-all group-hover:text-slate-200"
                    >
                        Projects
                    </span>
                </a>
            </li>
            <li class="flex w-3/4">
                <a class="group flex items-center py-3" href="/#Ramblings">
                    <span
                        class="mr-4 h-px w-16 bg-slate-600 transition-all group-hover:w-24 group-hover:bg-slate-300"
                    >
                    </span>

                    <span
                        class="text-md font-mono uppercase tracking-wider text-slate-400 transition-all group-hover:text-slate-200"
                    >
                        Ramblings
                    </span>
                </a>
            </li>
            <li class="flex w-3/4">
                <a class="group flex items-center py-3" href="/reading">
                    <span
                        class="mr-4 h-px w-16 bg-slate-600 transition-all group-hover:w-24 group-hover:bg-slate-300"
                    >
                    </span>

                    <span
                        class="text-md flex items-center gap-x-2 font-mono uppercase tracking-wider text-slate-400 transition-all group-hover:text-slate-200"
                    >
                        Reading
                        <span
                            class="rounded-full bg-sky-500/15 px-3 py-1 font-mono text-xs text-sky-400"
                        >
                            NEW
                        </span>
                    </span>
                </a>
            </li>
            <li class="flex w-3/4">
                <span class="group flex items-start py-3">
                    <span
                        class="mr-4 mt-[0.7rem] h-px w-16 bg-slate-600 transition-all group-hover:w-24 group-hover:bg-slate-300"
                    >
                    </span>

                    <ul class="flex flex-col">
                        <span
                            class="text-md flex items-center gap-x-2 font-mono uppercase tracking-wider text-slate-400 transition-all group-hover:text-slate-200"
                        >
                            Socials <ChevronUp size={16} class="rotate-90 transition-all group-hover:rotate-180"/>
                        </span>

                        <a href="https://www.github.com/General-Mudkip" class="cursor-pointer font-mono opacity-0 transition-all duration-200 hover:text-sky-400 group-hover:opacity-100" target="_blank">
                            GitHub
                        </a>
                        <a href="https://www.linkedin.com/in/bence-redmond/" class="cursor-pointer font-mono opacity-0 transition-all duration-200 hover:text-sky-400 group-hover:opacity-100" target="_blank">
                            LinkedIn
                        </a>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="cursor-pointer font-mono opacity-0 transition-all duration-200 hover:text-sky-400 group-hover:opacity-100">
                            Twitter
                        </a>
                    </ul>
                </span>
            </li>
        </ul>

        <hr class="my-6 h-[2px] border-0 bg-slate-700 lg:hidden" />
    </div>

    <span class="hidden lg:block">
        Made with ❤️ using <a
            class="cursor-pointer font-mono text-slate-200 transition-colors duration-200 hover:text-sky-400"
            href="https://astro.build"
            target="_blank">Astro</a
        >.</span
    >
</header>
