---
import CurrentlyReading from "../../components/content/CurrentlyReading.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Bence R.">
    <CurrentlyReading />

    <span class="-mx-8 block w-screen text-center lg:hidden">
        Made with ❤️ using
        <a class="cursor-pointer font-mono text-slate-200 transition-colors duration-200 hover:text-sky-400" href="https://astro.build" target="_blank">Astro</a>.
    </span>
</Layout>
