<section id="about" class="scroll-mt-16 mb-14 lg:scroll-mt-24">
    <p class="indent-2">
        Hi, I'm Bence, an aspiring software engineer currently residing in
        Ireland. I've been programming since I was 11, but I only recently
        seriously started getting into web development and design around the
        summer of 2023, with my first website <a href="https://betterexams.ie"
            >BetterExams.ie</a
        >, an alternative to the government's official site.
    </p>

    <p class="indent-2 mt-2">
        At the moment I'm working on an addition to the so-called 'BetterExams
        Suite'; a site where students can log, track, and analyze past test
        results. It's built using Next.js, Recharts, Shadcn UI, and of course
        Tailwind CSS.
    </p>

    <p class="indent-2 mt-2">
        Outside of development, I enjoy video games, manga, dogs, and reading.
        (If you couldn't tell by the quotes, I'm a rather big fan of Brandon
        Sanderson). If I had to list some of the all-time greats across all
        mediums, I'd have to go with: <a
            href="https://www.goodreads.com/book/show/7235533-the-way-of-kings"
            >The Way of Kings</a
        >, <a
            href="https://mangadex.org/title/e5357466-c8a2-4259-9b02-2580185bd2bb/billy-bat"
            >Billy Bat</a
        >, and <a
            href="https://open.spotify.com/artist/6bDWAcdtVR3WHz2xtiIPUi?si=-6hHLdwYQJefLoUmU46nnQ"
            >Fuji Kaze</a
        >.
    </p>
</section>

<style>
    a {
        @apply text-white font-mono hover:text-sky-400 transition-colors duration-200 cursor-pointer;
    }
</style>
