<section class="mb-14 scroll-mt-16 lg:scroll-mt-24">
    <p class="indent-2">
        Hi, I'm Bence, a first year student in Immersive Software Engineering.
        I've been programming since I was 11, but I only recently seriously
        started getting into web development and design around the summer of
        2023, with my first website <a href="https://betterexams.ie"
            >BetterExams.ie</a
        >. You can see all of my projects listed below.
    </p>

    <p class="mt-2 indent-2">
        Outside of development, I'm a big fan of reading and dogs. (If you
        couldn't tell by the quotes, I'm a rather big fan of Brandon Sanderson).
        Here are some of my favourite works, across a variety of mediums:
        <a href="https://hardcover.app/books/the-way-of-kings"
            >The Way of Kings</a
        >, <a
            href="https://mangadex.org/title/e5357466-c8a2-4259-9b02-2580185bd2bb/billy-bat"
            >Billy Bat</a
        >, and <a href="https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
            >Kendrick Lamar</a
        >.
    </p>
</section>

<style>
    a {
        @apply cursor-pointer font-mono text-slate-200 transition-colors duration-200 hover:text-sky-400;
    }
</style>
