<section id="about" class="scroll-mt-16 mb-14 lg:scroll-mt-24">
    <p class="indent-2">
        Hi, I'm Bence, an aspiring software engineer currently living in
        Ireland. I've been programming since I was 11, but I only recently
        seriously started getting into web development and design around the
        summer of 2023, with my first website <a href="https://betterexams.ie"
            >BetterExams.ie</a
        >, an alternative to the government's official site for accessing past exam papers.
    </p>

    <p class="indent-2 mt-2">
        At the moment I'm working on an addition to the so-called 'BetterExams
        Suite'; a site where students can log, track, and analyze past test
        results. It's built using Next.js, Recharts, Shadcn UI, and of course
        Tailwind CSS.
    </p>

    <p class="indent-2 mt-2">
        Outside of development, I'm a big fan of reading and dogs.
        (If you couldn't tell by the quotes, I'm a rather big fan of Brandon
        Sanderson). Here are some of my favourite works, across a variety of mediums: 
        <a
            href="https://hardcover.app/books/the-way-of-kings"
            >The Way of Kings</a
        >, <a
            href="https://mangadex.org/title/e5357466-c8a2-4259-9b02-2580185bd2bb/billy-bat"
            >Billy Bat</a
        >, and <a href="https://store.steampowered.com/app/367520/Hollow_Knight/">Hollow Knight</a>.    
    </p>
</section>

<style>
    a {
        @apply text-white font-mono hover:text-sky-400 transition-colors duration-200 cursor-pointer;
    }
</style>
