---
import ProjectCard from "./projectCard.astro";
---

<section id="Projects" class="mb-14">
    <h2 class="mb-4 text-2xl font-bold tracking-tight text-slate-200 sm:text-3xl">
        Projects
    </h2>

    <ProjectCard
        name="BetterExams.ie"
        description="An alternative to the official examinations.ie; A site where students and teachers alike can easily access and share past exam papers alongside resources for each subject, without having to deal with a form system from 2006."
        href="https://betterexams.ie"
        tags={[
            "Next.js",
            "React",
            "Tailwind CSS",
            "Framer Motion",
            "Typescript",
        ]}
    />

    <ProjectCard 
        name="BetterExams Points"
        description="A grades tracker built specifically for Leaving Certificate students in Ireland. It automatically calculates total point scores, and tracks past test results, and allows users to compare their current points estimation to what is needed for their course."
        href="https://points.betterexams.ie"
        tags={[
            "Next.js",
            "React",
            "Tailwind CSS",
            "Turso",
            "Prisma",
            "Typescript"
        ]}
    />

    <ProjectCard
        name="My Portfolio"
        description="This site! A simple portfolio site built in an evening using Astro, Tailwind CSS, and Lucide icons. Inspired by Brittany Chiang's v5 portfolio."
        href="https://bence.vercel.app"
        tags={["Astro", "Tailwind CSS", "Lucide Icons", "Graph QL"]}
    />
</section>
