---
import ProjectCard from "./ProjectCard.astro";
---

<section id="Projects" class="mb-14">
    <h2
        class="mb-4 text-2xl font-bold tracking-tight text-slate-200 sm:text-3xl"
    >
        Projects
    </h2>

    <div class="m-2 group/list">
        <ProjectCard
            name="BetterExams.ie"
            description="An alternative to the official examinations.ie; A site where students and teachers alike can easily access and share past exam papers alongside resources for each subject, without having to deal with a form system from 2006."
            href="/projects/betterexams"
            tags={[
                "Next.js",
                "React",
                "Tailwind CSS",
                "Framer Motion",
                "TypeScript",
            ]}
            imagePath="/betterexams.png"
            featured={true}
        />

        <ProjectCard
            name="BetterExams Points"
            description="A grades tracker built specifically for Leaving Certificate students in Ireland. It automatically calculates total point scores, and tracks past test results, and allows users to compare their current points estimation to what is needed for their course."
            href="/projects/betterexams-points"
            tags={[
                "React",
                "Tailwind CSS",
            ]}
            imagePath="/bep_home.webp"
        />

        <ProjectCard
            name="Why Vim?"
            description="A whitepaper-esque site that helps familiarise people with Vim motions."
            href="/projects/why-vim"
            tags={[
                "React",
                "Next.js",
                "Tailwind CSS",
                "Framer Motion",
                "TypeScript",
            ]}
            imagePath="/why-vim.png"
            featured
        />

        <ProjectCard
            name="Modern ISE Website"
            description="A weekend exercise to step outside my &apos;design comfort zone&apos;. Built as a radical replacement to the current software-engineering.ie site."
            href="/projects/modern-ise-website"
            tags={[
                "Next.js",
                "React",
                "Tailwind CSS",
                "Turso",
                "Prisma",
                "Typescript",
            ]}
            imagePath="/modern-ise-website.png"
        />

        <ProjectCard
            name="QuoteBoat"
            description="A work in-progress platform that allows ISE students to record funny, insightful, or stupid things that their friends said."
            href="/projects/quoteboat"
            tags={[
                "Next.js",
                "React",
                "Tailwind CSS",
                "Turso",
                "Prisma",
                "Typescript",
            ]}

            imagePath="/quoteboat.png"
        />

        <ProjectCard
            name="My Portfolio"
            description="This site! A simple portfolio site built in an evening using Astro, Tailwind CSS, and Lucide icons. Inspired by Brittany Chiang's v5 portfolio."
            href="/projects/portfolio"
            tags={["Astro", "Tailwind CSS", "Lucide Icons"]}

            imagePath="/portfolio.png"
        />
    </div>
</section>
