---
import BookCard from "./BookCard.astro";

const response = await fetch("https://api.hardcover.app/v1/graphql", {
    method: "POST",
    headers: {
        "Content-Type": "application/json",
        authorization: process.env.HARDCOVER_KEY,
    },
    body: JSON.stringify({
        query: `
        query CurrentlyReading {
          me {
            user_books(where: {status_id: {_eq: 2}}) {
              id
              book {
                title
                pages
                book_series {
                  series {
                    name
                  }
                }
                description
                image {
                  url
                }
                release_date
                rating
                slug

                contributions {
                   author {
                     name
                   }
                }

              }
            }
          }
        }      
`,
    }),
});

const json = await response.json();
console.log(json);
const currentlyReading = json["data"]["me"][0]["user_books"];
---

<h2 class="mb-1 mt-8 text-2xl tracking-tight text-slate-200">
    Currently Reading
</h2>
<h3 class="mb-2 text-lg">The books that I am reading at the moment.</h3>

{currentlyReading.map((book) => <BookCard props={book} />)}
