---
let props = Astro.props;
let position = props.props.position;

let textColour = "text-sky-300"

// Position starts at 0
if (position == 0) {
    textColour = "text-amber-400 border border-[0.3rem] border-amber-400 transition-all duration-200 group-hover:bg-amber-400 drop-shadow-md group-hover:text-slate-200"
} else if (position == 1) {
    textColour = "text-slate-300 border border-[0.2rem] border-slate-300"
} else if (position == 2) {
    textColour = "text-amber-600 border border-[0.1rem] border-amber-600"
}

---

{
    position != undefined ? 

    <div class=`absolute -rotate-3 rounded-lg bg-slate-800 w-fit h-fit p-4 text-4xl ${textColour} shadow-lg font-bold inset-y-16 -inset-x-[3.7rem]`>
        <span class="transition-all duration-200 group-hover:drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
            #{position + 1}
        </span>
    </div> 

    : <></>
}
