---
import Layout from "../layouts/Layout.astro";
import Quote from "../components/content/quote";
import PersonalDescription from "../components/content/personalDescription.astro";
import ProjectList from "../components/content/projectList.astro";
---

<Layout title="Bence R.">
    <Quote client:load />

    <PersonalDescription />

    <ProjectList />

    <span class="-mx-8 block w-screen text-center lg:hidden">
        Made with ❤️ using
        <a href="https://astro.build" target="_blank">Astro</a>.
    </span>
</Layout>

<style>
    a {
        @apply cursor-pointer font-mono text-white transition-colors duration-200 hover:text-sky-400;
    }
</style>
