---
import Layout from "../layouts/Layout.astro";
import Age from "../components/age.astro";
import Social from "../components/social.astro";
import ProjectCard from "../components/projectCard.astro";
import CurrentlyReading from "../components/currentlyReading.astro";
import Quote from "../components/quote.tsx";
---

<Layout title="Bence R.">
    <div
        class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0 lg:flex lg:justify-between lg:gap-4"
    >
        <header
            class="flex flex-col justify-between lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:py-24"
        >
            <div>
                <h1
                    class="text-5xl font-bold tracking-tight text-slate-200 sm:text-6xl"
                >
                    Bence R.
                </h1>
                <h2
                    class="mt-2 text-lg font-medium tracking-tight text-slate-200 sm:text-xl"
                >
                    A <Age /> year-old developer.
                </h2>
                <p class="mt-3 max-w-xs leading-normal">
                    I try to build open-source sites that are easy to use,
                    accessible, and fast.
                </p>

                <hr class="my-6 bg-slate-700 border-0 h-[2px] lg:w-4/5" />

                <ul class="flex flex-col gap-2">
                    <Social
                        name="General-Mudkip"
                        href="https://github.com/General-Mudkip"
                        icon="Github"
                    />
                    <Social
                        name="general.mudkip"
                        href="https://discord.com/users/567665494518267904"
                        icon="Discord"
                    />
                    <Social
                        name="@GeneralMudkip"
                        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                        icon="Twitter"
                    />
                </ul>

                <hr class="my-6 bg-slate-700 border-0 h-[2px] lg:hidden" />
            </div>

            <CurrentlyReading
                title="The Well of Ascension"
                author="Brandon Sanderson"
                description="Amazing follow-up to a fantastic first book."
                image="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1619538925i/68429.jpg"
                href="https://www.goodreads.com/book/show/68429.The_Well_of_Ascension"
                progress={60}
            />

            <span class="hidden lg:block">
                Made with ❤️ using <a href="https://astro.build" target="_blank"
                    >Astro</a
                >.</span
            >
        </header>

        <main class="pt-8 lg:w-1/2 lg:py-24">
            <Quote client:load />
            <section id="about" class="scroll-mt-16 mb-14 lg:scroll-mt-24">
                <p class="indent-2">
                    Hi, I'm Bence, an aspiring software engineer currently
                    residing in Ireland. I've been programming since I was 11,
                    but I only recently seriously started getting into web
                    development and design around the summer of 2023, with my
                    first website <a href="https://betterexams.ie"
                        >BetterExams.ie</a
                    >, an alternative to the government's official site.
                </p>

                <p class="indent-2 mt-2">
                    At the moment I'm working on an addition to the so-called
                    'BetterExams Suite'; a site where students can log, track,
                    and analyze past test results. It's built using Next.js,
                    Recharts, Shadcn UI, and of course Tailwind CSS.
                </p>

                <p class="indent-2 mt-2">
                    Outside of development, I enjoy video games, manga, dogs,
                    and reading. (If you couldn't tell by the quotes, I'm a
                    rather big fan of Brandon Sanderson). If I had to list some
                    of the all-time greats across all mediums, I'd have to go
                    with: <a
                        href="https://www.goodreads.com/book/show/7235533-the-way-of-kings"
                        >The Way of Kings</a
                    >, <a
                        href="https://mangadex.org/title/e5357466-c8a2-4259-9b02-2580185bd2bb/billy-bat"
                        >Billy Bat</a
                    >, <a
                        href="https://open.spotify.com/artist/6bDWAcdtVR3WHz2xtiIPUi?si=-6hHLdwYQJefLoUmU46nnQ"
                        >Fuji Kaze</a
                    >, and <a
                        href="https://store.steampowered.com/app/1687950/Persona_5_Royal/"
                        >Persona 5</a
                    >.
                </p>
            </section>

            <section id="projects">
                <h2
                    class="text-2xl font-bold tracking-tight mb-4 text-white sm:text-3xl"
                >
                    Projects
                </h2>

                <ProjectCard
                    name="BetterExams.ie"
                    description="An alternative to the official examinations.ie; A site where students and teachers alike can easily access and share past exam papers alongside resources for each subject, without having to deal with a form system from 2006."
                    href="https://betterexams.ie"
                    tags={[
                        "Next.js",
                        "React",
                        "Tailwind CSS",
                        "Headless UI",
                        "Framer Motion",
                    ]}
                />

                <ProjectCard
                    name="My Portfolio"
                    description="This site! A simple portfolio site built in an evening using Astro, Tailwind CSS, and Lucide icons. Inspired by Brittany Chiang's v5 portfolio."
                    href="https://mudkip.live"
                    tags={["Astro", "Tailwind CSS", "Lucide Icons"]}
                />
            </section>

            <span class="lg:hidden -mx-8 text-center block w-screen">
                Made with ❤️ using
                <a href="https://astro.build" target="_blank">Astro</a>.
            </span>
        </main>
    </div>
</Layout>

<style>
    a {
        @apply text-white font-mono hover:text-sky-400 transition-colors duration-200 cursor-pointer;
    }
</style>
