---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import { CornerUpLeft } from 'lucide-preact';

export async function getStaticPaths() {
  const blogEntries = await getCollection("ramblings");
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

var dateFormatOptions = {  year: 'numeric', month: 'long', day: 'numeric' };
const formattedDate = entry.data.pubDate.toLocaleDateString("en", dateFormatOptions)
---
<Layout title={entry.data.title}>
    <a class="mb-2 flex cursor-pointer flex-row gap-2 font-mono text-sm transition-all duration-200 hover:text-sky-400 hover:underline" href="/ramblings">
        <CornerUpLeft size={20} />
        Back to ramblings
    </a>
    <h1 id="Title" class="mb-2 text-2xl font-bold tracking-tight text-white sm:text-5xl">
        {entry.data.title}
    </h1>

    <h2 class="mb-8 font-mono">
        {formattedDate}
    </h2>

    <Content />
</Layout>
