---
import BlogItem from "./blogItem.astro";
import { defineCollection, z } from "astro:content";
---

<h2 class="mb-4 text-2xl font-bold tracking-tight text-white sm:text-3xl">
    Ramblings (Blog)
</h2>
<div class="flex flex-col">
    <!--{allPosts.map((post: postType) => <BlogItem post={post.node} />)}-->
</div>
